*{
	color: #000066;
	font-family: 宋体;
	font-size: 18px;
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
body{
	background-image: url(../images/background.jpg);
}
#header{
	margin: auto;
}
.logo{
	background-image: url(../images/logo_background.jpg);
	background-size: 1350px 180px;
	height: 180px;
}
.logo img{
	width: 148px;
	height:178px;
	margin-left: 200px;
}
.nav{
	background-color: #99CCFF;
	height: 40px;
}
.daohang{
	margin-left: 150px;
}
.daohang ul li{
	list-style: none;
	float: left;
}
.daohang a{
	text-decoration: none;
	line-height: 40px;
	font-weight: bolder;
}
.daohang a:hover{
	text-decoration: underline;
	color: #FF0066;
	font-weight: bolder;
}
.search input[type='text']{
	width: 140px;
	height: 19px;
	background-color: #f8f5ee;
	margin-right: -11px;
	margin-top: 6px;
	margin-left: 200px;
}
.search button[type='button']{
	width: 55px;
	height: 25px;
	background-color: #999999;
	color: #fff;
	border: 1px solid #f8f5ee;
	margin-top: 6px;
}
#content{
	margin-top: 20px;
	width: 900px;
	margin-right:auto;
	margin-left: auto; 
}
.mianbaoxie{
	width: 700px;
	height: 20px;
}
.mianbaoxie ul li{
	list-style: none;
	float: left;
}
.mianbaoxie ul li a{
	color: #CC0033;
	font-weight: bolder;
}
.content_left{
	margin-top: 20px;
	width: 430px;
}
.content_left_top_logo{
	background-image: url(../images/jiyisichuan.jpg);
	background-size: 300px 50px;
	height: 50px;
	width: 430px;
	background-repeat: no-repeat;
	background-position: center;
}
.content_left_bottom_logo{
	margin-top: 20px;
	background-image: url(../images/feiyizongheng.jpg);
	background-size: 300px 50px;
	height: 50px;
	width: 430px;
	background-repeat: no-repeat;
	background-position: center;
}
.content_left_top_content{
	
	background-image: url(../images/shuwenhuabiankuang.png);
	background-size: 430px 600px;
	height: 600px;
	width: 430px;
	background-repeat: no-repeat;
}
.content_left_top_content ul{
	padding-top: 35px;
	padding-left: 47px;
	padding-right: 42px;
}
.content_left_top_content a{
	font-weight: bolder;
	color: #660000;
}
.content_left_top_content a:hover{
	text-decoration: underline;
}
.content_left_top_content span{
	font-size: 14px;
	float: right;
}
.content_left_top_content p{
	color: #666666;
	font-size: 15px;
}
.content_right{
	margin-top: 20px;
	width: 430px;
	float: right;
	margin-top: -1320px;
}
.content_right_top{
	float: left;
	width: 400px;
}
.content_right_top_logo{
	background-image: url(../images/shijie.jpg);
	background-size: 300px 50px;
	height: 50px;
	width: 400px;
	background-repeat: no-repeat;
	background-position: center;
}
.content_right_top_content{
	margin-left: 20px;
	float: left;
	background-image: url(../images/biankuang.jpg);
	background-size: 400px 400px;
	height: 400px;
	width: 400px;
	background-repeat: no-repeat;
}
.content_right_top_content ul{
	padding-top: 60px;
	padding-left: 47px;
	padding-right: 42px;
}
.content_right_top_content a{
	font-weight: bolder;
	color: #660000;
}
.content_right_top_content a:hover{
	text-decoration: underline;
}
.content_right_top_content span{
	font-size: 14px;
	float: right;
}
.content_right_top_content p{
	color: #666666;
	font-size: 15px;
}
.content_right_center{
	margin-top: 470px;
}
.content_right_center_logo{
	margin-top: 10px;
	background-image: url(../images/chuantong.jpg);
	background-size: 300px 50px;
	height: 50px;
	width: 400px;
	background-repeat: no-repeat;
	background-position: center;
}
.content_right_bottom{
	margin-top: 400px;
}
.content_right_bottom_logo{
	margin-top: 10px;
	background-image: url(../images/dongtai.jpg);
	background-size: 300px 50px;
	height: 50px;
	width: 400px;
	background-repeat: no-repeat;
	background-position: center;
}
#footer{
    width: 1000px;
	height: 105px;
	margin-right:auto;
	margin-left: auto; 
}
.yewei{
	margin-top: 20px;
	float: left;
	width: 800px;
	margin-right:auto;
	margin-left: auto; 
}
.zizi{
	margin-bottom: 20px;
	margin-left: 140px; 
}
.footer1 .zizi a{
	font-size: 14px;
	color: #666699;
	text-decoration: underline;
	text-align: center;
	font-weight: bold;
}
.footer1{
	margin-left: 240px; 
	margin-top: 20px;
	width: 700px;
}
.footer1 li{
	list-style: none;
	float: left;
	font-weight: bold;
}
.footer1 a{
	color: #330000;
	font-size: 12px;
	text-decoration: none;
}
.footer2{
	float: left;
	width: 700px;
	margin-left:240px;
}
.footer2 img{
	margin-top: 20px;
	padding-right:auto;
	padding-left: auto; 
}
.footer3{
	float: left;
	width: 700px;
	margin-left: 150px; 
}
.footer3 p{
	color: #660000;
	font-size: 10px;
	text-align: center;
	padding-right:auto;
	padding-left: auto; 
}
